# Dependencies
node_modules/
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Build & Logs
dist/
build/
*.log
npm-debug.log*

# OS
Thumbs.db
.DS_Store

# Editor backups
*.bak
*.tmp
structure.txt
structure.txt
MaterialIcons-Regular.woff2
MaterialIcons-Regular.woff
